<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <link rel="stylesheet" href="/docs/assets/ionic/css/ionic.bundle.css"/>
    <script src="/docs/assets/ionic/dist/ionic.js"></script>

    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content   >
  <ion-card >
      <img src="../../../assets/img/contactos.png" style="width: 150px;" />
    <ion-card-header>
        <ion-card-title><a  href="./menu/contactos">Contactos</a></ion-card-title>

      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
<br><br>
    <ion-card >
       <a href="https://oscaronaldo2001.wixsite.com/ionicprincipiantes
       "> <img src="../../../assets/img/blog.jfif" style="width: 150px; " /></a>
      <ion-card-header>
          <ion-card-title><a href="https://irwinramirez10.wixsite.com/blogionic"> Blog</a></ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>

</ion-content>
